<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214681774458-84e7r3c3ad3lbjkc9l3t1jqclqa4ie3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214681774458-84e7r3c3ad3lbjkc9l3t1jqclqa4ie3q</string>
	<key>API_KEY</key>
	<string>AIzaSyCD46bWauCrs8R2_kFR0QuFW8x7sLXwGC4</string>
	<key>GCM_SENDER_ID</key>
	<string>214681774458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flexitgym</string>
	<key>PROJECT_ID</key>
	<string>flexit-1ad68</string>
	<key>STORAGE_BUCKET</key>
	<string>flexit-1ad68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214681774458:ios:f8f98d821acda7be9f8ec3</string>
</dict>
</plist>